PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://sanesh7644_db_user:DB5TS31FpnwEqQg6@cluster0.ly6ahhw.mongodb.net/ss_global_school?retryWrites=true&w=majority
JWT_SECRET=ss_global_public_school_super_secret_jwt_key_2026
FRONTEND_URL=https://main.dlzshhty32uyq.amplifyapp.com

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=duiudd1s
CLOUDINARY_API_KEY=348511399318565
CLOUDINARY_API_SECRET=nPC7grV5Po-nv7fRS5Yrh1RxZHw
